@{
    ViewData["Title"] = "Подсчет площади";
}

<form method="post" action="~/House/AreaNew">
    <label>Высота:</label><br />
    <input type="number" name="height" /><br />
    <label>Основание:</label><br />
    <input type="number" name="altitude" /><br />
    <input type="submit" value="Отправить" />
</form>